[smtp]
# If you want airflow to send emails on retries, failure, and you want to use
# the airflow.utils.email.send_email_smtp function, you have to configure an
# smtp server here
smtp_host = smtp.gmail.com
smtp_starttls = True
smtp_ssl = False
# Example: smtp_user = airflow
smtp_user = your gmail id
# Example: smtp_password = airflow
# smtp_password = your gmail password
smtp_port = 25
smtp_mail_from = give the email, from which email id you want send the mails(your mail id )